.stats-name {
    font-size: 12pt;
    font-weight: bold;
    padding-left: 20px;
    border-bottom: 1px solid gray;
}
.stats-value {
    font-size: 12pt;
    padding-right: 20px;
    padding-left: 20px;
    color: blue;
    border-bottom: 1px solid gray;
}
.stats-percent {
    font-size: 12pt;
    color: brown;
}
.stats-text {
    font-size: 10pt;
    font-weight: bold;
}
.stats-id {
    font-size: 10pt;
    font-weight: bold;
    color: #00134E;    
}
.ad-table {
    background-color: aqua;
}
.ad-table td {
    border-bottom: 1px solid gray;
}
.ad-error {
    color: red;
}
.ad-notice {
    color: rgb(19, 80, 46);
}
#adminmenu #toplevel_page_Adamamed_PluginSettings div.wp-menu-image::before {
    content: "\f527";
}
#adminmenu toplevel_page_Adamamed_PluginSettings div.wp-menu-image {
    background: none !important;
}
.ad-duplicate {
    color: red;
}